@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:white;  
  font-family: 'Lato', sans-serif;
}
#page-wrapper {
  position: relative;    
}
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
#hero b{
  color:red;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;  
}
.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}
header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:black;
}
@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}
.grid {
  display: flex;
}
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;  
}
#hero > h2 {
  margin-bottom: 10px; 
  font-size: 3em;
}
.desc > h2{
  color:red;
}
#hero input[type="email"] {
  max-width: 275px;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;  
}
#hero input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 0;
  border: 0;
  background-color: #f1c40f;
}
#hero input[type="submit"]:hover {
  background-color: orange;
  transition: background-color 1s;
}
@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
  }
}
.logo {
  width: 60vw;
}
@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}
.logo > img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}
nav {
  font-weight: 400;  
}
@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}
nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
}
@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}
nav a:first-child{
  color:red;;
}
nav a:before{
  content:"";
  position:absolute;  
  top:45px;
  width:0;
  height:2px;
  border-bottom: 3px solid yellow;
  transition:all 0.5s linear;
}
nav a:hover:before{
  width:40px;
}
#home {
  margin-top: 30px;
}
#home .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: green;
}
@media (max-width: 550px) {
  #home .icon {
    display: none;
  }
}
#home .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}
@media (max-width: 550px) {
  #home .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}
@media (max-width: 650px) {
  #home {
    margin-top: 0;
  }
}
  #prize {
    margin-top:50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }  
  .awards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 3);
    margin: 50px;
    border: 1px solid #000;
    border-radius: 3px;
  }  
  .awards > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }  
  .awards > h2 {
    margin-top: 15px;
  }  
  .awards > ol {
    margin: 15px 0;
  }  
  .awards > ol > li {
    padding: 5px 0;
  }  
  .awards > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
  }  
  .awards > button:hover {
    background-color: orange;
    transition: background-color 1s;
  }  
  @media (max-width: 800px) {
    #prize {
      flex-direction: column;
    }
    .awards {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }  
#rules {  
  display: flex;  
  justify-content: center; 
  margin:60px 
}
#rules > iframe {
  max-width: 560px;
  width: 100%;
}
footer {
  margin-top: 30px;
  background-color:white;
  padding: 20px;
}
footer > ul {
  display: flex;
  justify-content: center;  
}
footer > ul > li{
  padding: 0 10px;   
}
footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-size: 0.7em;
  color:red;
}
.square {
  height: 100px;
  width: 200px;
  background-image: url("cutelogo.png");
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  color: white;
  padding: 5px;
  animation: shimmy 3s infinite;
  animation-direction: alternate;
}

@keyframes shimmy {
  0% {
    transform: translate(40px, 15px);    
  }
  100% {
    transform: translate(100px, 100px);
  }
}